@import "/home/conrad/.cache/wal/colors-waybar.css";

* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 14px;
  min-height: 10px;
}

window#waybar {
  opacity: 1;
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

.module {
  margin-top: 6px;
  padding-left: 0px;
  padding-right: 0px;
  transition: none;
}

#window {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}
#tags {
  margin-top: 0px;
  margin-left: 12px;
  font-size: 4px;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #161320;
  transition: none;
}

#tags button {
  transition: none;
  color: #b5e8e0;
  background: transparent;
  font-size: 16px;
  border-radius: 2px;
}

#tags button.occupied {
  transition: none;
  color: #f28fad;
  background: transparent;
  font-size: 4px;
}

#tags button.focused {
  color: #abe9b3;
  border-top: 2px solid #abe9b3;
  border-bottom: 2px solid #abe9b3;
}

#tags button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #fae3b0;
  border-color: #e8a2af;
  color: #e8a2af;
}

#tags button.focused:hover {
  color: #e8a2af;
}

#network {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#pulseaudio {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#battery {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#battery.charging,
#battery.plugged {
  color: @color5;
  background-color: #1a1b26;
}

#battery.critical:not(.charging) {
  background-color: @color5;
  color: #1a1b26;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #1a1b26;
    color: @color5;
  }
}

#backlight {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#backlight.high {
  background: #1a1b26;
}
#backlight.mid {
  background: #1a1b26;
}
#backlight.low {
  color: #1a1b26;
  background: @color5;
}

#clock {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}
#memory {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#cpu {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#tray {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#custom-launcher {
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#custom-power {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#custom-wallpaper {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#custom-scratchpad-indicator {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#custom-updates {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#custom-spotify {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#custom-weather {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  color: @color5;
  background: #1a1b26;
}

#workspaces {
  padding-left: 10px;
  padding-right: 10px;
  color: @color5;
  background: #1a1b26;
}

#custom-bgl {
  font-size: 1.8em;
  color: #1a1b26;
  background: transparent;
}

#custom-bgr {
  font-size: 1.8em;
  color: #1a1b26;
  background: transparent;
}

#custom-bgl2 {
  font-size: 1.8em;
  color: #1a1b26;
  background: transparent;
}

#custom-bgr2 {
  font-size: 1.8em;
  color: #1a1b26;
  background: transparent;
}
